<!DOCTYPE HTML>
{% extends "parent.html.jinja" %}

{% block title %} {{info.name}} {% endblock %}

{% block head %}
	{{ super() }}
	<script src="https://code.createjs.com/1.0.0/createjs.min.js" delay></script>
	<script src="https://cdn.plot.ly/plotly-2.3.0.min.js" delay></script>
	<script src="{{ url_for('static', filename='chart-card.js') }}" delay></script>
	<script src="{{ url_for('static', filename='chart-detail.js') }}" delay></script>
{% endblock %}

{% block content %}
	<div style="max-width:800px;margin:auto">

		<div style="max-width:760px;margin:auto">
			<h5>{{info.name}}</h5>
		
			Pack: {{info.pack}}<br>
			Predicted difficulty: <font color={{info['difficulty string color']}}> {{ info['difficulty string'] }} {{ info['level'] }} - {{ info['predicted difficulty'] }} </font> <br>
			Similar charts with {{ info['cluster tags'] | safe }}: <br> 
			{{ info['parsed similar charts'] | safe }} <br>
		</div>

		<!-- <img>
			<canvas id="demoCanvas" width="100" height="100"></canvas>
		</img> -->

		<!-- Use max-width on plotly divs to autoscale for mobile -->
		<div id="canvas_card" style="max-width:800px;height:320px;margin:auto"></div>
		<script type="text/javascript">
			draw_card("canvas_card", {{ data | tojson |safe }});
		</script>


		<div id="chart_detail_module" style="overflow:auto">
			<div class="chart_detail_container" data-num="0">
				<div class="row" style="width:80%">
					<div class="six columns">
						Display chart section: <select class="section_selector"></select>
					</div>
					<div class="six columns">
						Color notes by: <select class="color_selector"></select>
					</div>
				</div>
				<div class="canvas_detail" id="canvas_detail" style="height:auto"></div>
			</div>
		</div>
		<script type="text/javascript">
			draw_detail_interactive({{ data | tojson |safe }});
		</script>
	</div>

  {% endblock %}