<!DOCTYPE HTML>
{% extends "parent.html.jinja" %}

{% block title %} {{ skill_name }} {% endblock %}

{% block head %}
	{{ super() }}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='datatable.css') }}">
  {% endblock %}

{% block content %}
  <div style="width:750px;margin:auto">
    <h5> Skill: {{ skill_name | safe }} </h5>

    <!-- Display markdown -->
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>

    <zero-md src="{{ url_for('static', filename='markdown/' + skill_name + '.md') }}"></zero-md>

  </div>

  <hr>

  <div style="width:750px;margin:auto">
    <h6>Top singles charts</h6>
    <p>{{ singles_charts_str | safe }}</p>
  </div>

  <div style="width:750px;margin:auto">
    <h6>Top doubles charts</h6>
    <p>{{ doubles_charts_str | safe }}</p>
  </div>

{% endblock %}